body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 110%;
    color: #40514E;
}
h1{
    color: #66BFBF;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto ; 
    font-family: 'Sacramento', cursive;  
}
/* .h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
} */
.heads{
        color: #66BFBF;
        font-size: 2.5rem;
         font-weight: normal;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 10px ;
    
}
.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}
h3{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}
.skill-row{
    width: 50%;
    
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.coding{
    width: 30%;
    /* height: 0%; */
    height:auto;
    float: left;
    margin-right: 30px;
    margin-bottom: 5px;
} 
.description{
    clear: left;
    
}
.softs{
    
    width: 30%;
    height: auto;
    float: right;
}


.softss{
   border: 2px solid black;
   background-color: #11999E;
   color: white;
   border-radius: 20px;
   text-align: center;
   display: block;
   width: 120px;
    /* color: red; */
    position: relative;
    left: 20px;
    
    
}

.footer-link{
    color:#11999E ;
}
.btn{
    display: inline-block;
    border: 2px solid ;
    border-width: 2;
    border-radius: 8px;
    background-color: #11999E;
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px ;
    border-radius: 8px;
    margin: 8px auto 8px auto;
    
}
a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

/* p{
    margin: 0;
} */
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
   
    margin: 100px  0  100px 0;
}
.bottom-container{
   
     background-color: #66BFBF;
     padding: 50px 0 20px;
}
/* .head{
    position: relative;
    top: 50px;
} */
.top-cloud{
    position: absolute;
    top: 50px;
    right: 450px;

   
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 450px;
   
}
